/* Particles */
body {
    overflow-x: hidden; 
}

div#particles-js {
    position: absolute;
    width: 100vw;
    z-index: -100;
    top: 0;
}

/* Events page content */
div#main .inner {
    max-width: 75%;
}

.modal.in .modal-dialog {
    margin-top: 100px;
}

header h1 {
    text-align: center;
}

header .logo:hover #nav-title {
    transition: color 0.2s;
}

header .logo #nav-title:hover {
    color: #f2849e;
} 

.tiles {
    justify-content: center;
}

.tiles article {
    max-width: 270px;
    max-height: 270px;
    min-width: 190px;
    min-height: 190px;
    margin: 1.25em;
}

.tiles article > span.image {
    width: 100%;
    height: 100%;
}

.tiles article > span img {
    width: 100%;
    height: 100%;
}

.tiles a h3 {
    letter-spacing: 3px;
}

/* Events page modals */
div.modal-content .modal-header h5 {
    font-size: 1.8em;
    display: inline-block;
}

div.modal-content .btn {
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 5px gray;
    transition: box-shadow 0.2s, background-color 0.2s;
}
div.modal-content .btn:hover {
    box-shadow: 0 2px 5px gray, 2px 3px 10px black;
    cursor: pointer;
}
div.modal-content .btn:active {
    box-shadow: none;
}
div.modal-content .btn:focus {
    outline: none;
}

div.modal-content .btn-primary {
    background-color: #337ab7;
    text-transform: capitalize;
}
div.modal-content .btn-primary:hover {
    background-color: #337ab7;
}
div.modal-content .btn-primary:active {
    background-color: #286090;
}

div.modal-content .btn-secondary:active {
    background-color: #c5c5c5;
}

div.modal-content .close {
    color: white;
    transition: opacity 0.2s;
}
div.modal-content .close:hover {
    opacity: 0.7;
}
div.modal-content .close:active {
    opacity: 0.5;
}
div.modal-content .close:focus {
    outline: none;
}


/* Footer Stuff */
div#wrapper {
    min-height: 100vh;
    margin-bottom: -154px;
}

div.push {
    height: 154px;
}

footer#footer {
	text-align: center;
	padding: 3px;
    height: 154px;
    box-shadow: 0 0 10px #d7d7d7;

    transition: opacity 0.5s;
}

footer#footer .inner section {
	width: 100% !important;
	margin: 0em !important;
}

/* Dont ask */
footer#footer .inner section h2 {
    padding-left: 9px;
}

#footer > .inner .copyright {
	margin-top: 2em;
}


@media screen and (max-width: 500px) {
    header h2, footer h2 {
        font-size: 25px;
        letter-spacing: 0.2em;
    }
}

body.is-menu-visible #footer {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}


/* Color Overrides */
.inner header .panel {
    background-color: transparent;
}

body {
    background-color: black !important;
    color: white !important;
}

footer#footer {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal color overrides */
div.modal-content {
    background: #161616;
}

div.modal-content .btn {
    box-shadow: 0 1px 5px rgb(146, 146, 146);
}
div.modal-content .btn:hover {
    box-shadow: 0 1px 5px rgb(146, 146, 146), 0px 1px 10px rgb(170, 170, 170);
    color: white !important;
}
div.modal-content .btn:active {
    box-shadow: 0 0;
}

div.modal-content .btn-secondary {
    background-color: #575757;
}
div.modal-content .btn-secondary:hover {
    color: white;
}
div.modal-content .btn-secondary:active {
    color: white;
    background-color: #464646;
    box-shadow: 0 0;
}
div.modal-content .btn-secondary:focus {
    color: white;
}

/* Event Tiles */
.tiles article.style1 > .image:before {
    background-color: #c23b5b !important;
    background-color: #c23b5bab !important;
}

.tiles article.style2 > .image:before {
    background-color: #2da0e3 !important;
    background-color: #2da0e3ab !important;
}

.copyright {
    color: gray !important;
}

.pull-left {
    text-align: left;
}
