{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form-override.css' %}" />

{% endblock %}
{% block content %}
<br>
<h1 class="text-center" style="margin-bottom: 0;">Hospi</h1>
<div id="details" class="text-center" style="margin-top: 10px;"></div>
<br>

<br>
<form id="pr_form">
	{% csrf_token %}
	<div class="field half"><label for="unique_inp">Unique ID</label> <input type="text" name="unique" id="unique_inp"></div>
	<div class="field half"><label for="hostel">Hostel</label>
		
		<select class="check" name="hostel" id="hostel">
			<option selected>None</option>
			<option value="garnet a 2nd floor common room">Garnet A 2nd Floor Common Room</option>
			<option value="garnet a 2nd floor study room">Garnet A 2nd Floor Study Room</option>
			<option value="garnet b 2nd floor common room">Garnet B 2nd Floor Common Room</option>
			<!-- <option value="garnet c">Garnet C</option>
			<option value="pearl">Pearl</option>
			<option value="aquamarine a">Aquamarine A</option>
			<option value="aquamarine b">Aquamarine B</option>
			<option value="ruby">Ruby</option>
			<option value="jasper">Jasper</option>
			<option value="opal">Opal</option> -->
		</select>

	</div>
	<div class="field half"><label for="days">Number of days of stay</label><br>
		<input class="check" type="number" name="days" id="days">
	</div>
    <div id="amt"></div>
    <submit/>
    
</form>
{% endblock %}

{% block afterBody %}
<script>
function jhsdbfjh2b34t293sdjwef(e)
{
	e.preventDefault();

	if(!confirm("Are you sure you want to record this?"))
		return;

	form = $("#pr_form");
	$.ajax({
		url:"/admin/gjkrgiu24g34t",
		method:"POST",
		data:form.serialize(),
		timeout:20000,
		beforeSend:function(){
			console.log(" loading .. ")
			// $('#loading').show();
		},
		complete:function(){
			// $('#loading').hide();
		},
		error:function(err)
		{
			error_div= $('.all-errors');
			error_div.html(err);
			error_div.show();
		}

	})
	.done(function(msg)
		{
			console.log(msg);
			if(typeof(msg) != "object")
			{
					$(".all-errors").html("There was an issue with your request. Please try again.");
					return;
			}

			if(msg.status == 200)
			{
				details = $("#details");
				var u = "<span><b>User</b>: "+String(msg.fullname)+"</span><br>";
				var email = "<span><b>Email</b>: "+String(msg.email)+"</span><br>";
				var hostel = "<span><b>Hostel</b>: "+String(msg.hostel)+"</span><br>";
				var vacancy = "<span><b>Vacancy in hostel</b>: "+String(msg.vacancy_count)+"</span><br>";
				var check_in = "<span><b>Check In time</b>: "+String(msg.check_in)+"</span><br>";
				var amount = "<span><b>Amount paid</b>: "+String(msg.amount)+"</span><br>";
				details.html(u+email+hostel+vacancy+amount+check_in);
				$(".all-errors").html("");
			}
			else
				$(".all-errors").html(msg.errors);
		});
}

// MONEY FUNCTION
function ghiu4g4iugh4iuhg(e)
{
	money = 0;
	days=document.getElementById('days').value;
	money = 150 + 150*days;
	$("#amt").html(" (Total Money : "+ "<strong>" + String(money) + "</strong>)");
}

$(document).ready(function(){
$("#pr_form").submit(jhsdbfjh2b34t293sdjwef);
$("#days").keydown(ghiu4g4iugh4iuhg);
$("#days").keyup(ghiu4g4iugh4iuhg);
$("#days").change(ghiu4g4iugh4iuhg);

});

</script>
<script src="{% static 'js/components.js' %}"></script>
{% endblock %}
