{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<script src="{% static 'js/qrcode.min.js' %}"></script>
{% endblock %}


{% block content %}
<div id="QrC0dE">

</div>
<br><br>

<div id="syn_id">
    <label>Synergy ID : </label> &nbsp;<strong>{{ syn_id }}</strong>
</div>

<br>

<div>
    <label>Email : </label>&nbsp;<strong>{{ email }}</strong>
</div>
{% endblock %}

{% block afterBody %}
<script>
    new QRCode(document.getElementById("QrC0dE"), "{{ qr }}");
</script>
{% endblock %}
