{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sponsors.css' %}" />
{% endblock %}

{% block content %}
<div class="text-center"><h1>Sponsors</h1></div>
<div class="section-container">
    <header>
        <div id="accordion8" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="panel">
                <div role="tab" id="heading_wks8" class="panel-heading">
                    <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion8" href="#collapse_wks7" aria-expanded="true" aria-controls="collapse_wks7">
                        <h1>Title Sponsor</h1>
                    </a>
                    </h4>
                </div>
            </div>
        </div>
    </header>

    <div id="collapse_wks7" role="tabpanel" aria-labelledby="heading_wks8" class="collapse in" aria-expanded="true">
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="https://www.mahindra.com/"><img src="/static/images/title-sponsor.png" style="background-color:#ffffff;height:300px;max-width:90%;"></a>
        </section>
    </div>
</div>

<div class="section-container">
    <header>
        <div id="accordion1" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="panel">
                <div role="tab" id="heading_wks" class="panel-heading">
                    <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse_wks" aria-expanded="true" aria-controls="collapse_wks">
                        <h1>Knowledge Partner</h1>
                    </a>
                    </h4>
                </div>
            </div>
        </div>
    </header>

    <div id="collapse_wks" role="tabpanel" aria-labelledby="heading_wks" class="collapse in" aria-expanded="true">
        <section class="tiles">
            <div class="text-center" style="padding-top: 40px;"><a target="_blank" style="border: 0px;" href="https://www.uniqtechnologies.co.in/"><img style="max-width: 90%; height: 100px;" src="/static/images/knowledge-partner.jpeg"></a></div>
        </section>
    </div>
</div>

<div class="section-container">
    <header>
        <div id="accordion3" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="panel">
                <div role="tab" id="heading_wks2" class="panel-heading">
                    <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse_wks2" aria-expanded="true" aria-controls="collapse_wks2">
                        <h1>Event Partners</h1>
                    </a>
                </h4>
                </div>
            </div>
        </div>
    </header>

    <div id="collapse_wks2" role="tabpanel" aria-labelledby="heading_wks1" class="collapse in" aria-expanded="true">
        <div class="subheading">Event Partner</div>
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="https://www.idealboilerspare.com/"><img src="/static/images/sponsors/Event Partners/IMG-20190212-WA0029.jpg" style="width:82%;height:200px;"></a>
        </section>

        <div class="subheading">Goodwill Partners</div>
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="http://btpark.org/"><img src="/static/images/sponsors/Event Partners/Black Thunder.png" style="width:82%;height:200px;"></a>
        </section>
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="https://www.swathiengineering.com/"><img src="/static/images/sponsors/Event Partners/SE.png" style="width:82%;height:200px;"></a>
        </section>
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="https://cakesntreats.in"><img src="/static/images/sponsors/Event Partners/ct.jpeg" style="width:82%;height:200px;"></a>
        </section>

        <div class="subheading">Photography Partner</div>
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="https://www.iipedu.com/"><img src="/static/images/sponsors/Event Partners/iip.png" style="width:82%;height:200px;"></a>
        </section>

        <div class="subheading">Prize Partner</div>
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="https://www.lenskart.com/"><img src="/static/images/sponsors/Event Partners/Lenskart-logo.jpg" style="width:82%;height:200px;"></a>
        </section>
    </div>
</div>

<div class="section-container">
    <header>
        <div id="accordion5" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="panel">
                <div role="tab" id="heading_wks5" class="panel-heading">
                    <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion5" href="#collapse_wks4" aria-expanded="true" aria-controls="collapse_wks4">
                        <h1>Media Partners</h1>
                    </a>
                </h4>
                </div>
            </div>
        </div>
    </header>

    <div id="collapse_wks4" role="tabpanel" aria-labelledby="heading_wks5" class="collapse in" aria-expanded="true">
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="http://www.faadooengineers.com/"><img src="/static/images/sponsors/Media Partners/Faadoo.png" style="height:300px;"></a>
        </section>
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="https://www.facebook.com/festPav/"><img src="/static/images/sponsors/Media Partners/festPav Logo_HD.png" style="height:300px;"></a>
        </section>
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="https://gigx.in/"><img src="/static/images/sponsors/Media Partners/GIGX White PNG.png" style="height:300px;"></a>
        </section>
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="http://www.knowafest.com/college-fests/events"><img src="/static/images/sponsors/Media Partners/Knowafest.png" style="height:300px;"></a>
        </section><br>
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="http://ohcampus.com/v2/"><img src="/static/images/sponsors/Media Partners/OhCampus New Logo.png" style="height:300px;"></a>
        </section>
    </div>
</div>

<div class="section-container">
    <header>
        <div id="accordion2" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="panel">
                <div role="tab" id="heading_wks1" class="panel-heading">
                    <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse_wks1" aria-expanded="true" aria-controls="collapse_wks1">
                        <h1>Social Media Partner</h1>
                    </a>
                </h4>
                </div>
            </div>
        </div>
    </header>

    <div id="collapse_wks1" role="tabpanel" aria-labelledby="heading_wks1" class="collapse in" aria-expanded="true">
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="https://www.facebook.com/hothumansoftrichy/"><img src="/static/images/sponsors/Social media partner/HOT.png" style="width:79%;height:200px;"></a>
        </section>
    </div>
</div>

<div class="section-container">
    <header>
        <div id="accordion4" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="panel">
                <div role="tab" id="heading_wks4" class="panel-heading">
                    <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion4" href="#collapse_wks3" aria-expanded="true" aria-controls="collapse_wks3">
                        <h1>Ticketing Partner</h1>
                    </a>
                </h4>
                </div>
            </div>
        </div>
    </header>

    <div id="collapse_wks3" role="tabpanel" aria-labelledby="heading_wks1" class="collapse in" aria-expanded="true">
        <section class="tiles">
            <a target="_blank" style="border: 0px;" href="https://allevents.in/recommended"><img src="/static/images/sponsors/Ticketing Partner/ae-logo-portrait.png" style="width:100%;height:200px;"></a>
        </section>
    </div>
</div>
{% endblock %}
